.calbox {
  background-color: #1A1B26;
  font-family: FiraSans;
  font-size: 1em;
  font-weight: bold;

  .calinbox {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar.header {
color: #7DCFFF;
font-weight: bold;
}

calendar.button, .highlight  {
color: #C0CAF5;
}
